extends ./index.pug
block content
	div(class="row")
		div(class="col-lg-12")
			h3 Búsqueda de cursos para: "#[em #{resp.q}]"
	hr
	
	if resp.exist
		div(class="row text-center")
			each c in resp.cursos
				div(class="col-md-3 col-xs-6")
					div(class="thumbnail")
						img(src=c.image_url alt=c.title title=c.title)
						div(class="caption")
							h3= c.title
							p By: #[a( href='/e/profile/'+c.owner.nickname)= c.owner.nickname]
							p=c.description
							p: a( class="btn btn-primary btn-sm" href='/e/course/'+c.id) Ver el curso
	if resp.cursos.length < 1
		div(class="row")
			div(class="col-lg-12")
				p Lo sentimos, no encontramos ningún resultado para "#[em #{resp.q}]"